<div  id="ui-view-pad">
	<!-- Header -->
	<div class="c-header navbar-fixed-top navbar-custom-1">
	    <div class="title-page"><i class="fa fa-history" aria-hidden="true"></i> Recently Watched</div>
	    <div class="nav-history"><a href="#" ng-click="returnToList()"><i class="fa fa-arrow-right" aria-hidden="true"></i> Return To List <i class="fa fa-list-ul" aria-hidden="true"></i></a></div>
	</div>
	<div class="wrap">
		<div class="row">
			<div class="col-xs-12">
				<div class="row" id="movie-history" ng-repeat="history in moviesHistory">
					<div class="col-xs-12">
						<div class="row" id="movie-history-container">
							<div class="col-xs-3">
								<div class="hist-img-container">
									<img ng-src="{{history.image}}" class="img-responsive" />
								</div>
							</div>
							<div class="col-xs-9">
								<div class="row">
									<div class="col-xs-12 col-hist-default">
										<strong>{{history.title}}</strong>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-hist-default" ng-hide="isNoData">
										<strong>Last Watched</strong> {{history.lastWatched}}
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-hist-default" ng-hide="isNoData">
										<button class="btn btn-primary btn-hist-default" ng-click="goToWatchNow(history.movieId)"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Watch Again</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="push"></div>
	</div>
	<!-- Footer -->
	<div class="c-footer navbar-fixed-bottom navbar-custom-1">
	    <div class="container">
	      <div class="text-default"><i class="fa fa-television" aria-hidden="true"></i> Movie On-Demand. Right At Your Fingertips.</div>  
	    </div>    
  	</div>
</div>
