<div id="ui-view-pad">
	<!-- Header -->
  <div class="c-header navbar-fixed-top navbar-custom-1">
    <div class="title-page">Movie Details</div>
    <div class="nav-history"><a href="#" ng-click="goToHistory()">History</a></div>
  </div>
  <!-- Movie Detail Pane -->
	<div class="wrap">
		<div class="wrapper-detail">
	      <h2><center>About The Movie</center></h2>
	    </div>
		<div class="wrapper-detail" id="movie-info">
			<div class="movie-container">
				<img ng-src="{{movieDetail.images[0].url}}" />	
			</div>
			<div class="movie-container"> <!-- Details -->
				<div class="row">
					<div class="col-xs-3"><strong>Title</strong></div>
					<div class="col-xs-8">{{movieDetail.title}}</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Description</strong></div>
					<div class="col-xs-8">{{movieDetail.description}}</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Categories</strong></div>
					<div class="col-xs-8">
						<div ng-repeat="category in movieDetail.categories">{{category.title}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Credits</strong></div>
					<div class="col-xs-8">
						<div ng-repeat="credit in movieDetail.credits">{{credit.name}} as {{credit.role}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Rating(s)</strong></div>
					<div class="col-xs-8">
						<div ng-repeat="rating in movieDetail.parentalRatings">{{rating.rating}} ({{rating.scheme}})</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper-detail">
			<div class="movie-container">
				<button class="btn btn-success btn-block" ng-click="goToWatchNow()" tabindex="1" id="btn-1"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Watch Now</button>
			</div>
			<div class="movie-container">
				<button class="btn btn-primary btn-block" ng-click="returnToList()" tabindex="2" id="btn-2"><i class="fa fa-list-ul" aria-hidden="true"></i> Return To Listing</button>
			</div>
			
		</div>
		<div id="push"></div>
	</div>
	<!-- Footer -->
	
	<div class="c-footer navbar-fixed-bottom navbar-custom-1">
		<div class="container">
		  <div class="text-default">Developed by: Alven Alinan</div>  
		</div>    
	</div>
</div>
