::-webkit-scrollbar {  
	width: 15px;
	display: block;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	background: rgba(255,255,255,1);
}

::-webkit-scrollbar-thumb {
	background: rgba(160, 184, 177, 1);
}

/*
::-webkit-scrollbar-button       {  }

::-webkit-scrollbar-track-piece  {  }

::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  }
*/