$font-stack: sans-serif;

$width-overall: 100%;
$height-overall: 100%;
$height-half: 50%;

$font-color-title: #ffffff;

$img-width: 214px;
$img-height: 317px;

$title-view-top: 247px;
$title-view-top-media: -99px;
$title-view-height: 100px;

$header-height: 60px;
$head-foot-color: rgba(5, 47, 109, 1);
$head-link-color: rgba(255, 253, 115, 1);

/* shared */

.c-header {
  .title-page {
    display: inline-block;
    padding: 13px;
    color: $font-color-title;
  }

  .nav-history {
    a {
      color: $head-link-color;
    }
    display: inline-block;
      float: right;
      padding: 13px;
  }
}

.c-footer {
  .container {
    padding: 15px;
    color: $font-color-title;
  }
}

.c-header, .c-footer {
  a {
    text-decoration: none;
    color: $font-color-title;
  }
  font-size: 16px;
  height: $header-height;
  background: $head-foot-color;
}

html, body {
  height: $height-overall;
  font-family: $font-stack;
}



#ui-view-pad {
  height: $height-overall;
}

.wrap {
  .row.row-hist-option {
    margin: 5px;
  }

  #movie-history {
    margin: 10px;
    
    -webkit-box-shadow: 5px 5px 6px -2px rgba(224,224,224,1);
    -moz-box-shadow: 5px 5px 6px -2px rgba(224,224,224,1);
    box-shadow: 5px 5px 6px -2px rgba(224,224,224,1);

    border: 1px solid rgba(224,224,224,1);

    #movie-history-container {

      .btn.btn-hist-default {
        width: 150px !important;
      }

      .col-hist-default {
        padding: 3px;
      }

      padding: 10px;
    }
  }

  padding-top: $header-height;
}

/* movie Home */

.mov-list {
  .mov {
    /*display: inline-block;*/
    display: table-cell;
    padding: 30px;
  }

  .item-container {
    .image-view {
      z-index: 0;
      width: $img-width;
      height: $img-height;
    }
    .title-view {
      font-size: 12px;

      .title, .watch-link {
        height: $height-half;
        vertical-align: bottom;
      }

      z-index: 1;
      top: $title-view-top;
      position: absolute;
      padding: 10px;
      width: $img-width;
      height: $title-view-height;
      color: $font-color-title;

      background: rgba(0,0,0,0);
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.62) 62%, rgba(0,0,0,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(62%, rgba(0,0,0,0.62)), color-stop(100%, rgba(0,0,0,1)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.62) 62%, rgba(0,0,0,1) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.62) 62%, rgba(0,0,0,1) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.62) 62%, rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.62) 62%, rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    }
  }

  /*white-space: nowrap;*/
  font-size: 0;
  position: relative;
  width: 100%;
  min-width: 760px;
  overflow-x: scroll;
}

/* movie detail */

.wrapper {
  height: $height-overall !important;
  margin: 0 auto -60px;
}

.wrapper-detail {
  
  .movie-container {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;

    .row {
      border-top: 1px solid;
    }
  }

  display: table;
  width: 75%;
  margin: auto;
}

#push {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  
  /* movie home */
  .mov-list {
    .item-container {
      .title-view {
        position: relative;
        top: $title-view-top-media;
      }

      max-height: $img-height;
    }

    .mov {
      vertical-align: top;
      display: inline-block !important;
    }

    /*white-space: normal !important;*/
    display: inline-block;
    overflow-x: visible !important;
    width: auto !important;
    margin-bottom: 60px;
  }

  /* shared */

  .wrap {
    padding-top: 60px;
  }

  /* movie-detail */

  .wrapper-detail {
    .movie-container {
      display: block;
      float: none;
      padding: 15px;

      .btn-custom-1 {
        display: block;
        width: $width-overall;
      }
    }

    height: $height-overall;
  }
}