<div id="ui-view-pad">
	
<!-- History -->
  <!-- Header -->
  <div class="c-header navbar-fixed-top navbar-custom-1">
    <div class="title-page"><i class="fa fa-home" aria-hidden="true"></i> Home</div>
    <div class="nav-history"><a href="#" ng-click="goToHistory()"><i class="fa fa-history" aria-hidden="true"></i> History</a></div>
  </div>
<!-- Movie List -->
  <div class="wrap">
    <div class="wrapper-detail">
      <h2><center>Movie On-Demand</center></h2>
    </div>
    <ul class="mov-list">
      <li class="mov" ng-repeat="movie in movies" ng-click="goToWatchNow(movie.id); $event.stopPropagation()" ng-focus="focusHandler()" tabindex="{{$index}}" id="mov-{{$index}}">
        <div class="item-container">
          <div class="image-view"><a href="#"><img ng-src="{{movie.images[0].url}}" /></a></div>
          <div class="title-view">
            <div class="title">{{movie.title}}</div>
            <div class="watch-link"><button class="btn btn-primary" ng-click="goToWatchNow(movie.id); $event.stopPropagation()"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Watch It</button></div>
          </div>
        </div>
        
      </li>
    </ul>
  </div>
  <!-- Footer -->
  <div class="c-footer navbar-fixed-bottom navbar-custom-1">
    <div class="container">
      <div class="text-default"><i class="fa fa-television" aria-hidden="true"></i> Movie On-Demand. Right At Your Fingertips.</div>  
    </div>    
  </div>
</div>
