<div id="ui-view-pad">
	<!-- Header -->
	<div class="c-header navbar-fixed-top navbar-custom-1">
	    <div class="title-page"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Now Playing</div>
	    <div class="nav-history"><a href="#" ng-click="returnToList()"><i class="fa fa-arrow-right" aria-hidden="true"></i> Return To List <i class="fa fa-list-ul" aria-hidden="true"></i></a></div>
	</div>
	<div class="wrap">
		<div class="wrapper-detail">
	      <h2><center>{{movieDetail.title}}</center></h2>
	    </div>
		<div class="wrapper-detail">
			<div class="movie-container">
				<center>
				<!-- <iframe class="movie-player" type="text/html" width="800" height="450" ng-src="{{trustSrc(movieDetail.contents[0].url)}}" allowfullscreen frameborder="0"></iframe> -->

				<video width="800" height="450" id="now-playing-vod" controls autoplay>
					<source ng-src="{{trustSrc(movieDetail.contents[0].url)}}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				</center>
			</div>
			<div class="movie-container"> <!-- Details -->

			</div>
		</div>
		<div class="wrapper-detail">
			<div class="movie-container">
				<img ng-src="{{movieDetail.images[0].url}}" />	
			</div>
			<div class="movie-container"> <!-- Details -->
				<div class="row">
					<div class="col-xs-12">
						<h4><center>About The Movie</center></h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Title</strong></div>
					<div class="col-xs-8">{{movieDetail.title}}</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Description</strong></div>
					<div class="col-xs-8">{{movieDetail.description}}</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Categories</strong></div>
					<div class="col-xs-8">
						<div ng-repeat="category in movieDetail.categories">{{category.title}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Credits</strong></div>
					<div class="col-xs-8">
						<div ng-repeat="credit in movieDetail.credits">{{credit.name}} as {{credit.role}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3"><strong>Rating(s)</strong></div>
					<div class="col-xs-8">
						<div ng-repeat="rating in movieDetail.parentalRatings">{{rating.rating}} ({{rating.scheme}})</div>
					</div>
				</div>
			</div>
		</div>
		<div id="push"></div>
	</div>
	<!-- Footer -->
	<div class="c-footer navbar-fixed-bottom navbar-custom-1">
	    <div class="container">
	      <div class="text-default"><i class="fa fa-television" aria-hidden="true"></i> Movie On-Demand. Right At Your Fingertips.</div>  
	    </div>    
  	</div>
</div>
